/include/ "system-conf.dtsi"
/ {

    dma_proxy {
	compatible = "xlnx,dma_proxy";
	dmas = <&axi_dma_0 0>;
	dma-names = "dma_proxy_rx";
    };

/*
    axidmatest_1: axidmatest@1 {
	    compatible = "xlnx,axi-dma-test-1.00.a";
	    dmas = <&axi_dma 0
	        &axi_dma 1>;
	    dma-names = "axidma0", "axidma1";
    };
*/
};


&sdhci1 {
	status = "okay";
	xlnx,has-power = <0x0>;
	no-1-8-v;
	disable-wp;
};

/* ETH PHY */
 
&gem3 {
    phy-handle = <&phy0>;
    phy0: phy@c {
	reg = <0xd>;
	device_type= "ethernet-phy";
	ti,rx-internal-delay = <0x8>;
	ti,tx-internal-delay = <0xa>;
	ti,fifo-depth = <0x1>;
	ti,rxctrl-strap-worka;
    };
};

&usb0 {
	status = "okay";
	xlnx,usb-polarity = <0x0>;
	xlnx,usb-reset-io = <0x4c>;
	xlnx,usb-reset-mode = <0x2>;
};


&dwc3_0{
    dr_mode = "peripheral";
    status = "okay";
   
    snps,dis_u2_susphy_quirk;
    snps,dis_u3_susphy_quirk;
    maximum-speed = "super-speed";

    phy-names = "usb3-phy";
    phys = <&lane2 0x4 0x0 0x0 26000000>;
};

&spi0 {
  is-decoded-cs = <0>;
  num-cs = <3>;
  status = "okay";
  spidev@0x00 {
    compatible = "spidev";
    spi-max-frequency = <1000000>;
    reg = <0>;
  };
  spidev@0x01 {
    compatible = "spidev";
    spi-max-frequency = <1000000>;
    reg = <1>;
  };
  spidev@0x02 {
    compatible = "spidev";
    spi-max-frequency = <1000000>;
    reg = <2>;
  };
};

&spi1 {
  is-decoded-cs = <0>;
  num-cs = <2>;
  status = "okay";
  spidev@0x00 {
    compatible = "spidev";
    spi-max-frequency = <1000000>;
    reg = <0>;
  };
  spidev@0x01 {
    compatible = "spidev";
    spi-max-frequency = <1000000>;
    reg = <1>;
  };
};


/*
&amba_pl {
    /delete-node/ dma@a0000000; //8
    dma_rx: dma_rx@a0000000 {
        compatible = "generic-uio";
        reg = <0x0 0xa0000000 0x0 0x1000>;
        interrupt-names = "s2mm_introut";
        interrupt-parent = <&gic>;
        interrupts = <0 89 4>;
    };
};

/{
    udmabuf@0 {
        device-name = "udmabuf0";
        compatible = "ikwzm,udmabuf-0.10.a";
        size = <0x10000000>;
        dma-coherent;
    };
};
*/
